<p align="center">Las celdas se ejectuan dandole al play al costado izquierdo de cada una o con (ctrl+enter) <p>
<p align="center">Para verlas, pulsar en la flecha al lado de cada título (similar a una lista desplegable)

## PRIMERO
1. Autorizo a Colab a acceder a Mi Drive [PRIMER CELDA]
2. Importo las librerías que usaré (cada librería tiene funciones propias y está hecha para diferentes fines a otras, funcionan parecido a una extensión de cualquier web o app) [SEGUNDA CELDA]

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

## LUEGO 
3. Ejecuto el código que me permite obtener los insumos de INDEC <p> **IMPORTANTE**:
*   Ejecutar celdas en orden secuencial; *una después de la otra*
*   Cambiar ruta al csv de INDEC si se pone en otra carpeta
*    Lo mismo con los insumos que queremos obtener: *Sin confidenciales y Confidenciales*
*    Si se sobreescriben los del mes anterior no hace falta, pero es mejor armar carpetas para el año y mes correspondiente para no perder los datos en el drive, tanto los insumos como el csv de INDEC
<p>

In [3]:
df = pd.read_csv('/content/drive/MyDrive/CAEM/Muestra/Febrero/exponm21.csv', sep=";", encoding='latin-1') # leé este csv separado por ";" y codificado (info pasada a código) según esta región específica
df.head() # me muestra las primeras 5 filas del dataset por default, pero depende del n° que ponga dentro de los paréntesis

,Año,Mes,NCM,Pdes,Pnet(kg),FOB(u$s)
0,2021,1,1012100,203,s,s3 ...
1,2021,2,1012100,205,s,s2 ...
2,2021,1,1012100,212,s,s3 ...
3,2021,2,1012100,212,"1900,000","250000,00 ..."
4,2021,2,1012100,218,s,s1 ...

In [4]:
tamaño = df.shape # me devuelve una tupla (tupla = conjunto de datos inmutables y ordenados) con el tamaño del dataset (filas;columnas)
print(f"El dataset tiene {tamaño[0]} filas y {tamaño[1]} columnas.") # 0 refiere al primer elemento de la tupla (filas) y 1 al segundo (columnas). Python cuenta desde cero

El dataset tiene 26420 filas y 6 columnas.

In [5]:
df.info() # me dice si existen valores nulos y que tipo de datos son los valores de cada columna (en qué formato están)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26420 entries, 0 to 26419
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       26420 non-null  int64
 1   Mes       26420 non-null  int64
 2   NCM       26420 non-null  int64
 3   Pdes      26420 non-null  int64
 4   Pnet(kg)  26420 non-null  object
 5   FOB(u$s)  26420 non-null  object
dtypes: int64(4), object(2)
memory usage: 1.2+ MB

In [6]:
sin_confis = df.drop(df[df["Pnet(kg)"].str.contains(r's')].index) # elimina las filas que en la columna Pnet(kg) SÍ contegan 's'
sin_confis.sort_values(by=['Año','Mes','NCM'], ascending=True, inplace=True) # ordena los datos de menor a mayor y sobreescribe luego la tabla sin_confis (guarda los cambios)
sin_confis

,Año,Mes,NCM,Pdes,Pnet(kg),FOB(u$s)
11,2021,1,1012100,999,"7300,000","170983,00 ..."
14,2021,1,1012900,203,"3500,000","32600,00 ..."
20,2021,1,1012900,212,"25840,000","394000,00 ..."
24,2021,1,1012900,220,"1500,000","37000,00 ..."
33,2021,1,1012900,333,"3000,000","178000,00 ..."
...,...,...,...,...,...,...
26404,2021,2,99980500,417,"319,500","3319,46 ..."
26408,2021,2,99980500,426,"67,100","68,65 ..."
26413,2021,2,99980500,438,"373,230","1407,01 ..."
26417,2021,2,99980500,999,"6998,830","41677,15 ..."
26419,2021,2,99999999,999,"280598619,770","387819765,35 ..."

In [7]:
def reemplaza(numero): # armo una función (llamada reemplaza) que cambie en el argumento que elija (llamado numero) las "," por ".", dado que Python habla inglés
  return numero.replace(",",".")

for i in ['Pnet(kg)','FOB(u$s)']: # por cado elemento en estas columnas, aplica la función creada anteriormente
  sin_confis[i] = sin_confis[i].map(reemplaza)

sin_confis

,Año,Mes,NCM,Pdes,Pnet(kg),FOB(u$s)
11,2021,1,1012100,999,7300.000,170983.00 ...
14,2021,1,1012900,203,3500.000,32600.00 ...
20,2021,1,1012900,212,25840.000,394000.00 ...
24,2021,1,1012900,220,1500.000,37000.00 ...
33,2021,1,1012900,333,3000.000,178000.00 ...
...,...,...,...,...,...,...
26404,2021,2,99980500,417,319.500,3319.46 ...
26408,2021,2,99980500,426,67.100,68.65 ...
26413,2021,2,99980500,438,373.230,1407.01 ...
26417,2021,2,99980500,999,6998.830,41677.15 ...
26419,2021,2,99999999,999,280598619.770,387819765.35 ...

In [8]:
sin_confis[['Pnet(kg)','FOB(u$s)']] = sin_confis[['Pnet(kg)','FOB(u$s)']].apply(pd.to_numeric) # convertí los datos de estas columnas (antes objects) en número (float o integer según corresponda) por default
sin_confis

        Año  Mes       NCM  Pdes      Pnet(kg)      FOB(u$s)
11     2021    1   1012100   999  7.300000e+03  1.709830e+05
14     2021    1   1012900   203  3.500000e+03  3.260000e+04
20     2021    1   1012900   212  2.584000e+04  3.940000e+05
24     2021    1   1012900   220  1.500000e+03  3.700000e+04
33     2021    1   1012900   333  3.000000e+03  1.780000e+05
...     ...  ...       ...   ...           ...           ...
26404  2021    2  99980500   417  3.195000e+02  3.319460e+03
26408  2021    2  99980500   426  6.710000e+01  6.865000e+01
26413  2021    2  99980500   438  3.732300e+02  1.407010e+03
26417  2021    2  99980500   999  6.998830e+03  4.167715e+04
26419  2021    2  99999999   999  2.805986e+08  3.878198e+08

[6187 rows x 6 columns]

In [9]:
writer = pd.ExcelWriter("/content/drive/MyDrive/CAEM/Sin confidenciales ejemplo.xlsx") # creo un Excel para guardar los datos obtenidos y elijo la ruta donde quiero tenerlo
sin_confis.to_excel(writer, sheet_name='Partidas', index=False) # elijo la tabla sin_confis para guardarla en dicho libro, pongo nombre a la hoja y no quiero ver el índice que acompaña a las filas de la tabla
writer.save() # lo guardo

In [10]:
confis_paso_1 = df.drop(df[~df["Pnet(kg)"].str.contains(r's')].index) # elimina las filas del csv de INDEC que en la columna Pnet(kg) NO [~] contengan 's'
confis_paso_1 = confis_paso_1.drop(columns=['Pnet(kg)', 'FOB(u$s)','Pdes']) # borra estas columnas
confis_paso_1 = confis_paso_1.drop_duplicates(subset=['Año','Mes','NCM'], keep="first") # de los duplicados, quédate con el primero (es indistinto para el caso quedarse con el primero o el segundo)

# Ahora lo mismo pero con la tabla que contenía las partidas no confidenciales, la del comienzo
confis_paso_2 = sin_confis.drop(['Pnet(kg)', 'FOB(u$s)','Pdes'], axis=1) # drop([labels], axis=1) is equivalent to drop(columns=[labels])
confis_paso_2 = confis_paso_2.drop_duplicates(subset=['Año','Mes','NCM'], keep="first")

In [13]:
confis = pd.concat([confis_paso_1, confis_paso_2], axis=0) # axis=0 agrega los datos de la 2da. tabla como filas adicionales (debajo de la primera); axis=1 agrega los datos como columnas adicionales (a la derecha de la primera)
confis = confis.drop_duplicates(keep=False) # si los datos no se presentan una única vez, elimínalos (no te quedes ni con la primera ni la segunda aparición)
confis.sort_values(by=['Año','Mes','NCM'], ascending=True, inplace=True) # ordena el dataset de menor a mayor según las columnas elegidas y sobreescribe la tabla confis [inplace=True]
confis

        Año  Mes       NCM
43     2021    1   1022110
44     2021    1   1022190
45     2021    1   1031000
46     2021    1   1039200
47     2021    1   1041011
...     ...  ...       ...
26307  2021    2  97050000
26319  2021    2  99980100
26330  2021    2  99980200
26332  2021    2  99980400
26419  2021    2  99999999

[3562 rows x 3 columns]

In [12]:
writer1 = pd.ExcelWriter("/content/drive/MyDrive/CAEM/Muestra/Febrero/Confidenciales.xlsx") # creo un Excel para esta tabla, y la ruta donde se guardará
confis.to_excel(writer1, sheet_name="Partidas", index=False) # igual que antes
writer1.save() # igual que antes
'FIN'

'FIN'