<a href="https://colab.research.google.com/github/victortizs/Py-bootcamp/blob/main/calorie_counter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Calorie Counter

print("How are you? I hope you're fine\nHere you can sum the calories you consumed on this day. Let's begin!")
date = str(input("\nTell me the current date using the format mm/dd/yyyy: "))

i_input = 1
sum = 0

while True:
  try:
    n_meals = int(input("\nHow many meals do you have today (use only numbers)? "))
    if n_meals > 4:
      print("Hey, do you go the gym?")
    else:
      normal = [3,4]
      if n_meals in normal:
        print("That's ok")
      elif n_meals == 0:
        print("\nEat and come again. See u!")  
      else:
        print("You need more meals buddy")
    break
  except ValueError:
    print("Please be sure to entry a valid number")

if 0 < n_meals < 9:
  print("\nNow tell me the calories ingested per meal")
  while i_input <= n_meals: # TypeError: 'int' object is not iterable
    print(f"Meal #{i_input} calories:")
    calories = float(input())
    sum += calories
    i_input += 1
  print("\nYour calorie content for " + date, "is", sum, "calories.")
elif n_meals >= 9:
  print("\nEat a little bit less for your sake, then come again.")

print("\nRemember an average adult must ingested 2000 calories per day, but each person is unique so talk to a nutritionist.")

How are you? I hope you're fine
Here you can sum the calories you consumed on this day. Let's begin!

Tell me the current date using the format mm/dd/yyyy: 07/23/2021

How many meals do you have today (use only numbers)? 9
Hey, do you go the gym?

Eat a little bit less for your sake, then come again.

Remember an average adult must ingested 2000 calories per day, but each person is unique so talk to a nutritionist.

## OTHERS

In [ ]:
# print("Hello World")

print("What's your name?")
name = input()
print("Hello, " + name,
      ". I want you to give me two numbers:")
# print(f"Hello, {name}")

while True:
  try:
    first = int(input())
    break

  except ValueError:
    print("That is not a valid number, please try again")


while True:
  try:
    print("\nYour second number:")
    second = int(input())
    sum = first + second
    print("\nTheir sum is ", sum,".\n") # the input function returns strings, not numbers
    break
  except ValueError:
    print("That is not a valid number, please try again")

''' Remember: I can only convert strings containing numbers into integers, not words, otherwise you'll get:
ValueError: invalid literal for int()... '''

What's your name?
vic
Hello, vic . I want you to give me two numbers:
r
That is not a valid number, please try again
g
That is not a valid number, please try again
35

Your second number:
109

Their sum is  144 .

" Remember: I can only convert strings containing numbers into integers, not words, otherwise you'll get:\nValueError: invalid literal for int()... "

In [ ]:
a = 4
b = 6
c = a + b
print(c)
print(type(c))

10
<class 'int'>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.head(10)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0
5    -119.56     36.51  ...         1.6635             67000.0
6    -121.43     38.63  ...         1.6641             67000.0
7    -120.65     35.48  ...         3.2250            166900.0
8    -122.84     38.40  ...         3.6696            194400.0
9    -118.02     34.08  ...         2.3333            164200.0

[10 rows x 9 columns]

In [ ]:
# size = df.shape
# print(f"this dataset has {size[0]} rows and {size[1]} columns")

df.describe().round(2)

       longitude  latitude  ...  median_income  median_house_value
count    3000.00   3000.00  ...        3000.00             3000.00
mean     -119.59     35.64  ...           3.81           205846.28
std         1.99      2.13  ...           1.85           113119.69
min      -124.18     32.56  ...           0.50            22500.00
25%      -121.81     33.93  ...           2.54           121200.00
50%      -118.48     34.27  ...           3.49           177650.00
75%      -118.02     37.69  ...           4.66           263975.00
max      -114.49     41.92  ...          15.00           500001.00

[8 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB