## Trabajando sobre un csv de INDEC, esto es un poco de lo que se puede hacer con la librería Pandas, con funciones como:

- [groupby()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
- [merge()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)
- [pivot_table()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)
- [Excelwriter()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.ExcelWriter.html)

*P. D.* Intentaré cambiar el código para poder ver y trabajar el zip de INDEC sin bajarlo.
No tira el link para leer la URL.
Luego subiré un Excel o CSV con las descripciones de los NCM, aunque pueden bajarlo del sistema de consulta de Comercio Exterior de INDEC:

https://www.indec.gob.ar/indec/web/Nivel4-Tema-3-2-124  

-> Pestaña **'Nomencladores'**, bajando la última enmienda disponible (la más reciente/actual).

Como dato de color: el producto más exportado (mayor cantidad de transacciones) de entre los 10 más exportados en 2020, según este archivo (exponm20) bajado con datos hasta nov-2020, es lógicamente el **maíz en grano (NCM 10059010)**; mientras que lo que más U$D generó, dentro de este top 10, fue la **Harina y "pellets" de la extracción del aceite de soja (NCM 23040010)**.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [4]:
exponm = pd.read_excel('/content/drive/MyDrive/Excels/exponm.xlsx')
df = pd.DataFrame(exponm)
df.head(10)

    Año  Mes  ...  Pnet(kg)                                           FOB(u$s)
0  2020    1  ...       NaN  s2                                            ...
1  2020    1  ...       NaN  s2                                            ...
2  2020    1  ...       NaN  s2                                            ...
3  2020    1  ...    3250.0                                              35580
4  2020    1  ...       NaN  s2                                            ...
5  2020    1  ...   52450.0                                            1064400
6  2020    1  ...       NaN  s3                                            ...
7  2020    1  ...       NaN  s2                                            ...
8  2020    1  ...       NaN  s4                                            ...
9  2020    1  ...       NaN  s4                                            ...

[10 rows x 6 columns]

In [5]:
ok = df.shape
print(f"there're {ok[0]} rows and {ok[1]} columns")

there're 143714 rows and 6 columns

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143714 entries, 0 to 143713
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Año       143714 non-null  int64
 1   Mes       143714 non-null  int64
 2   NCM       143714 non-null  int64
 3   Pdes      143714 non-null  int64
 4   Pnet(kg)  34635 non-null   float64
 5   FOB(u$s)  143714 non-null  object
dtypes: float64(1), int64(4), object(1)
memory usage: 6.6+ MB

<br/> Antes de seguir, un poco de teoría sobre trabajo con columnas:
*    .nunique() Devuelve cantidad de valores únicos  en la serie
*    .unique() Devuelve la lista con los valores únicos en la serie.
*    .value_counts() Devuelve una serie con los valores únicos como índice y como valores, la cantidad de repeticiones de cada índice.

In [7]:
for col in df.columns:
  print(f'La columna {col} tiene {df[col].nunique()} valores únicos')

La columna Año tiene 1 valores únicos
La columna Mes tiene 11 valores únicos
La columna NCM tiene 5272 valores únicos
La columna Pdes tiene 201 valores únicos
La columna Pnet(kg) tiene 33237 valores únicos
La columna FOB(u$s) tiene 34574 valores únicos

In [8]:
print(df['Mes'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11]

In [9]:
# Un modo de ver los valores únicos de NCM (Nomenclador Común del Mercosur) y la cantidad total que hay

ncm_unicos = pd.DataFrame(df["NCM"].unique())
ncm_unicos.columns = ['Unique NCM']
print(ncm_unicos)

unicos = df["NCM"].nunique()
print(f"\nSe repiten {unicos} nomencladores, los cuales representas bienes transados")

      Unique NCM
0        1012100
1        1012900
2        1022110
3        1041011
4        1041019
...          ...
5267    91011100
5268    91129000
5269    92089000
5270    95051000
5271    95062900

[5272 rows x 1 columns]

Se repiten 5272 nomencladores, los cuales representas bienes transados

In [10]:
# Un modo más bonito con "groupby", que además me dice cuántas veces se repite cada uno

cuenta_repes = df.groupby(['NCM']).size().reset_index(name = 'Cuenta')
cuenta_repes.sort_values(by = ['Cuenta'], ascending = False, inplace = True)
print(cuenta_repes.head(10))

print(f'\nEl dataset tiene {cuenta_repes.shape[0]} filas') # mismas que vimos en la celda anterior, está OK

# 1- El comando "reset_index" me ayuda a convertir la serie en un dataframe y a darle un título a la nueva columna creada con... (sigue)
# 1- "size()" que me dice la cantidad de veces que dicho bien se comerció
# 2- "El sort_values es para un mejor panorama de los bienes más intercambiados, o exportados en este caso
# 3- La función "groupby" es más útil si se considera más de una serie/columna

           NCM  Cuenta
314   10059010     831
615   22042100     815
354   12024200     623
5270  99980500     530
1936  38220090     409
645   23040010     395
3450  73269090     380
1594  30049099     377
2190  39269090     359
361   12060090     349

El dataset tiene 5272 filas

In [11]:
# Otro modo, este repite, pero no agrupa. Para el caso NO VA

df.agg({'NCM':'unique', 'NCM':'tolist'})

             NCM
0        1012100
1        1012100
2        1012100
3        1012100
4        1012900
...          ...
143709  99980500
143710  99980500
143711  99980500
143712  99980500
143713  99999999

[143714 rows x 1 columns]

In [12]:
# Otro modo, más rápido y eficiente para el caso, usando "value_counts"

cuenta_repes_1 = pd.DataFrame(df['NCM'].value_counts().reset_index(name = 'Cuenta'))
cuenta_repes_1.rename(columns = {'index':'NCM'}, inplace = True)

print(cuenta_repes_1.head(10))
print('\nLos diez más comerciados totalizan', sum(cuenta_repes_1['Cuenta'][0:10]), 'filas\n')

        NCM  Cuenta
0  10059010     831
1  22042100     815
2  12024200     623
3  99980500     530
4  38220090     409
5  23040010     395
6  73269090     380
7  30049099     377
8  39269090     359
9  12060090     349

Los diez más comerciados totalizan 5068 filas

In [13]:
# Valores U$S FOB y Kg. para los 10 bienes más exportados

top_10_NCMs = cuenta_repes_1[0:10]
print(top_10_NCMs)
print('\n', type(top_10_NCMs), "\n")
print("Chequeo: los 10 NCMs más repetidos totalizan", top_10_NCMs['Cuenta'].sum(), 'filas\n')

info_top_10 = pd.merge(df, top_10_NCMs, how = 'inner', on = 'NCM').dropna() # "dropna" para borrar filas con missing values

table = pd.pivot_table(info_top_10, index = ['Año', 'Mes'], columns = ['NCM'], 
                       values = ['Pnet(kg)', 'FOB(u$s)'], 
                       aggfunc = {'Pnet(kg)':np.sum, 'FOB(u$s)':np.sum}, 
                       margins = True, margins_name = 'Suma')
table

        NCM  Cuenta
0  10059010     831
1  22042100     815
2  12024200     623
3  99980500     530
4  38220090     409
5  23040010     395
6  73269090     380
7  30049099     377
8  39269090     359
9  12060090     349

 <class 'pandas.core.frame.DataFrame'>

Chequeo: los 10 NCMs más repetidos totalizan 5068 filas

              FOB(u$s)                ...   Pnet(kg)
NCM           10059010      12024200  ...   99980500          Suma
Año  Mes                              ...
2020 1    3.143997e+08  6.060587e+07  ...   43900.42  3.580878e+09
     2    2.819127e+08  6.230973e+07  ...   31387.37  3.278241e+09
     3    6.097183e+08  5.571181e+07  ...   41651.05  5.510192e+09
     4    6.969695e+08  5.824780e+07  ...   26078.15  6.416704e+09
     5    6.557835e+08  6.595059e+07  ...   44077.72  6.710725e+09
     6    7.066638e+08  6.500270e+07  ...   26138.37  7.250115e+09
     7    6.647595e+08  8.153295e+07  ...   21099.70  6.493913e+09
     8    7.236017e+08  7.816405e+07  ...   27720.09  6.692602e+09
     9    4.854887e+08  8.381054e+07  ...   30999.67  5.299714e+09
     10   4.336106e+08  8.038748e+07  ...   39912.95  4.644334e+09
     11   2.701445e+08  9.301040e+07  ...   36643.70  3.553499e+09
Suma      5.843053e+09  7.847339e+08  ...  369609.19  5.943092e+10

[12 rows x 22 columns]

In [14]:
# Borrar las filas con NaN de la siguiente manera es análoga a la anterior:

# info_top_10.dropna(axis = 'index', subset = ['Pnet(kg)'], how = 'any', inplace = True) 
# the parameter 'axis = index' and 'how = any' are the default
# info_top_10

In [15]:
# Lo siguiente es análogo a la "tabla dinámica" anterior sin los totales ('margins')
# Con un formato tabular (tabla común). Seguro te copa más este

info_top_10 = info_top_10.groupby(['Año', 'Mes', 'NCM'], as_index = False).agg({'Pnet(kg)':'sum', 'FOB(u$s)':'sum'})
info_top_10['USD/KG'] =  info_top_10['FOB(u$s)'] / info_top_10['Pnet(kg)']

# Lo que busco es el ratio usd/kg, para ver cuál es el producto más caro de este top 10
# Para visualizar todo, uso el comando 'pd.set_option()'

pd.set_option('display.max_rows', info_top_10.shape[0]+1) # me aseguro de ver todas las filas del dataset
info_top_10

      Año  Mes       NCM      Pnet(kg)      FOB(u$s)     USD/KG
0    2020    1  10059010  1.862206e+09  3.143997e+08   0.168832
1    2020    1  12024200  4.957985e+07  6.060587e+07   1.222389
2    2020    1  12060090  1.667679e+06  1.245615e+06   0.746915
3    2020    1  22042100  1.181092e+07  4.306533e+07   3.646230
4    2020    1  23040010  1.654599e+09  5.323981e+08   0.321769
5    2020    1  30049099  2.027056e+05  3.377585e+06  16.662519
6    2020    1  38220090  3.682366e+04  1.252932e+06  34.025195
7    2020    1  39269090  1.749466e+05  1.139047e+06   6.510826
8    2020    1  73269090  5.564177e+05  2.014943e+06   3.621277
9    2020    1  99980500  4.390042e+04  1.567760e+05   3.571173
10   2020    2  10059010  1.663288e+09  2.819127e+08   0.169491
11   2020    2  12024200  5.055014e+07  6.230973e+07   1.232632
12   2020    2  12060090  3.013236e+07  1.107166e+07   0.367434
13   2020    2  22042100  1.426780e+07  5.291075e+07   3.708403
14   2020    2  23040010  1.518434e+09  4.934283e+08   0.324959
15   2020    2  30049099  2.732930e+05  4.512250e+06  16.510667
16   2020    2  38220090  2.250494e+04  9.728095e+05  43.226486
17   2020    2  39269090  1.315670e+05  9.795648e+05   7.445367
18   2020    2  73269090  1.109356e+06  2.722601e+06   2.454217
19   2020    2  99980500  3.138737e+04  1.343290e+05   4.279716
20   2020    3  10059010  3.641897e+09  6.097183e+08   0.167418
21   2020    3  12024200  4.427474e+07  5.571181e+07   1.258320
22   2020    3  12060090  3.026197e+07  1.136762e+07   0.375640
23   2020    3  22042100  1.385439e+07  5.163633e+07   3.727072
24   2020    3  23040010  1.778678e+09  5.824249e+08   0.327448
25   2020    3  30049099  1.603175e+05  3.635728e+06  22.678298
26   2020    3  38220090  2.424509e+04  9.963574e+05  41.095223
27   2020    3  39269090  1.377622e+05  1.037780e+06   7.533122
28   2020    3  73269090  8.626614e+05  2.362956e+06   2.739147
29   2020    3  99980500  4.165105e+04  1.641018e+05   3.939921
30   2020    4  10059010  4.199802e+09  6.969695e+08   0.165953
31   2020    4  12024200  4.638299e+07  5.824780e+07   1.255801
32   2020    4  12060090  6.389275e+07  2.549597e+07   0.399043
33   2020    4  22042100  1.399772e+07  5.092559e+07   3.638133
34   2020    4  23040010  2.092122e+09  6.890377e+08   0.329349
35   2020    4  30049099  2.527182e+05  2.383511e+06   9.431497
36   2020    4  38220090  3.352196e+04  9.860977e+05  29.416468
37   2020    4  39269090  6.686671e+04  6.026680e+05   9.012976
38   2020    4  73269090  1.268046e+05  7.148457e+05   5.637382
39   2020    4  99980500  2.607815e+04  1.129458e+05   4.331053
40   2020    5  10059010  4.085331e+09  6.557835e+08   0.160522
41   2020    5  12024200  5.236734e+07  6.595059e+07   1.259384
42   2020    5  12060090  4.138793e+07  1.728877e+07   0.417725
43   2020    5  22042100  1.935092e+07  6.002595e+07   3.101969
44   2020    5  23040010  2.511616e+09  8.082536e+08   0.321806
45   2020    5  30049099  2.929938e+05  6.263111e+06  21.376260
46   2020    5  38220090  2.941825e+04  9.163784e+05  31.149996
47   2020    5  39269090  1.157262e+05  1.053122e+06   9.100120
48   2020    5  73269090  1.900457e+05  8.083317e+05   4.253355
49   2020    5  99980500  4.407772e+04  1.625997e+05   3.688932
50   2020    6  10059010  4.578117e+09  7.066638e+08   0.154357
51   2020    6  12024200  5.120952e+07  6.500270e+07   1.269348
52   2020    6  12060090  7.806131e+06  5.675015e+06   0.726995
53   2020    6  22042100  1.405136e+07  3.844745e+07   2.736208
54   2020    6  23040010  2.598018e+09  8.298512e+08   0.319417
55   2020    6  30049099  2.762202e+05  4.567319e+06  16.535067
56   2020    6  38220090  3.082467e+04  1.129195e+06  36.632827
57   2020    6  39269090  1.199458e+05  1.128863e+06   9.411447
58   2020    6  73269090  4.605611e+05  1.595756e+06   3.464808
59   2020    6  99980500  2.613837e+04  1.048905e+05   4.012894
60   2020    7  10059010  4.320893e+09  6.647595e+08   0.153848
61   2020    7  12024200  6.297701e+07  8.153295e+07   1.294646
62   2020    7  12060090  1.055148e+07  7.032046e+06   0.666451
63   2020    7  22042100  1.815910e+07  6.184101e+07   3.405510
64   2020    7  23040010  2.080200e+09  6.661011e+08   0.320210
65   2020    7  30049099  2.797122e+05  3.534015e+06  12.634466
66   2020    7  38220090  1.385071e+04  4.788326e+05  34.570981
67   2020    7  39269090  1.321203e+05  1.196952e+06   9.059563
68   2020    7  73269090  6.848649e+05  1.839657e+06   2.686161
69   2020    7  99980500  2.109970e+04  1.277814e+05   6.056075
70   2020    8  10059010  4.585658e+09  7.236017e+08   0.157797
71   2020    8  12024200  6.104004e+07  7.816405e+07   1.280537
72   2020    8  12060090  6.934095e+06  4.931526e+06   0.711200
73   2020    8  22042100  2.113591e+07  7.767614e+07   3.675079
74   2020    8  23040010  2.016703e+09  6.480874e+08   0.321360
75   2020    8  30049099  2.857206e+05  8.600238e+06  30.100169
76   2020    8  38220090  4.200221e+04  9.319501e+05  22.188121
77   2020    8  39269090  2.004734e+05  1.400977e+06   6.988344
78   2020    8  73269090  5.749700e+05  1.775487e+06   3.087965
79   2020    8  99980500  2.772009e+04  1.795701e+05   6.477977
80   2020    9  10059010  3.028058e+09  4.854887e+08   0.160330
81   2020    9  12024200  6.604195e+07  8.381054e+07   1.269050
82   2020    9  12060090  6.627928e+06  4.516891e+06   0.681494
83   2020    9  22042100  1.814756e+07  6.371903e+07   3.511161
84   2020    9  23040010  2.179456e+09  7.222472e+08   0.331389
85   2020    9  30049099  3.202056e+05  3.392724e+06  10.595455
86   2020    9  38220090  2.238812e+04  9.012586e+05  40.256107
87   2020    9  39269090  1.372657e+05  1.205377e+06   8.781342
88   2020    9  73269090  8.713388e+05  2.656447e+06   3.048696
89   2020    9  99980500  3.099967e+04  1.467945e+05   4.735356
90   2020   10  10059010  2.541854e+09  4.336106e+08   0.170588
91   2020   10  12024200  6.308023e+07  8.038748e+07   1.274369
92   2020   10  12060090  2.724462e+06  2.092226e+06   0.767941
93   2020   10  22042100  1.781082e+07  6.023480e+07   3.381922
94   2020   10  23040010  2.017299e+09  7.633187e+08   0.378386
95   2020   10  30049099  2.259857e+05  4.507480e+06  19.945863
96   2020   10  38220090  3.023836e+04  9.167200e+05  30.316459
97   2020   10  39269090  2.037081e+05  1.480307e+06   7.266805
98   2020   10  73269090  1.064864e+06  2.969037e+06   2.788184
99   2020   10  99980500  3.991295e+04  1.454181e+05   3.643382
100  2020   11  10059010  1.515981e+09  2.701445e+08   0.178198
101  2020   11  12024200  7.265729e+07  9.301040e+07   1.280125
102  2020   11  12060090  3.756873e+06  2.953981e+06   0.786287
103  2020   11  22042100  1.805871e+07  6.575262e+07   3.641048
104  2020   11  23040010  1.941514e+09  7.728068e+08   0.398043
105  2020   11  30049099  1.611241e+05  5.339677e+06  33.140157
106  2020   11  38220090  5.189922e+04  1.067359e+06  20.566000
107  2020   11  39269090  1.405194e+05  1.232255e+06   8.769289
108  2020   11  73269090  1.140863e+06  3.109374e+06   2.725457
109  2020   11  99980500  3.664370e+04  1.325393e+05   3.616975

In [63]:
pd.reset_option('max_rows') # reseteo el máximo de filas que veo

print("La media USD/KG del top 10 más exportados es", info_top_10['USD/KG'].mean(), '\n') 
# I will look the NCMs whose USD/KG ratio is bigger than the total average

grouped = info_top_10[info_top_10['USD/KG'] > info_top_10['USD/KG'].mean()]
grouped.sort_values(by= ['USD/KG'], ascending = False, inplace = True)
grouped

La media USD/KG del top 10 más exportados es 7.381922868044652

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

      Año  Mes       NCM   Pnet(kg)    FOB(u$s)     USD/KG
16   2020    2  38220090   22504.94   972809.47  43.226486
26   2020    3  38220090   24245.09   996357.37  41.095223
86   2020    9  38220090   22388.12   901258.56  40.256107
56   2020    6  38220090   30824.67  1129194.80  36.632827
66   2020    7  38220090   13850.71   478832.63  34.570981
6    2020    1  38220090   36823.66  1252932.20  34.025195
105  2020   11  30049099  161124.08  5339677.36  33.140157
46   2020    5  38220090   29418.25   916378.36  31.149996
96   2020   10  38220090   30238.36   916720.00  30.316459
75   2020    8  30049099  285720.59  8600237.91  30.100169
36   2020    4  38220090   33521.96   986097.66  29.416468
25   2020    3  30049099  160317.48  3635727.64  22.678298
76   2020    8  38220090   42002.21   931950.11  22.188121
45   2020    5  30049099  292993.78  6263111.24  21.376260
106  2020   11  38220090   51899.22  1067359.35  20.566000
95   2020   10  30049099  225985.71  4507480.00  19.945863
5    2020    1  30049099  202705.56  3377585.18  16.662519
55   2020    6  30049099  276220.17  4567319.10  16.535067
15   2020    2  30049099  273293.02  4512250.18  16.510667
65   2020    7  30049099  279712.25  3534014.81  12.634466
85   2020    9  30049099  320205.58  3392723.81  10.595455
35   2020    4  30049099  252718.24  2383511.22   9.431497
57   2020    6  39269090  119945.76  1128863.18   9.411447
47   2020    5  39269090  115726.21  1053122.42   9.100120
67   2020    7  39269090  132120.27  1196951.91   9.059563
37   2020    4  39269090   66866.71   602668.04   9.012976
87   2020    9  39269090  137265.67  1205376.79   8.781342
107  2020   11  39269090  140519.36  1232254.88   8.769289
27   2020    3  39269090  137762.25  1037779.85   7.533122
17   2020    2  39269090  131567.03   979564.83   7.445367

In [64]:
print(f'Los bienes más caros (por arriba de la media) del top 10 corresponden a {list(grouped["NCM"].unique())}')
print('Y son', grouped['USD/KG'].count(), 'transacciones en total\n')

grouped.reset_index(drop = True, inplace = True) # Reseteo el índice
grouped

Los bienes más caros (por arriba de la media) del top 10 corresponden a [38220090, 30049099, 39269090]
Y son 30 transacciones en total

     Año  Mes       NCM   Pnet(kg)    FOB(u$s)     USD/KG
0   2020    2  38220090   22504.94   972809.47  43.226486
1   2020    3  38220090   24245.09   996357.37  41.095223
2   2020    9  38220090   22388.12   901258.56  40.256107
3   2020    6  38220090   30824.67  1129194.80  36.632827
4   2020    7  38220090   13850.71   478832.63  34.570981
5   2020    1  38220090   36823.66  1252932.20  34.025195
6   2020   11  30049099  161124.08  5339677.36  33.140157
7   2020    5  38220090   29418.25   916378.36  31.149996
8   2020   10  38220090   30238.36   916720.00  30.316459
9   2020    8  30049099  285720.59  8600237.91  30.100169
10  2020    4  38220090   33521.96   986097.66  29.416468
11  2020    3  30049099  160317.48  3635727.64  22.678298
12  2020    8  38220090   42002.21   931950.11  22.188121
13  2020    5  30049099  292993.78  6263111.24  21.376260
14  2020   11  38220090   51899.22  1067359.35  20.566000
15  2020   10  30049099  225985.71  4507480.00  19.945863
16  2020    1  30049099  202705.56  3377585.18  16.662519
17  2020    6  30049099  276220.17  4567319.10  16.535067
18  2020    2  30049099  273293.02  4512250.18  16.510667
19  2020    7  30049099  279712.25  3534014.81  12.634466
20  2020    9  30049099  320205.58  3392723.81  10.595455
21  2020    4  30049099  252718.24  2383511.22   9.431497
22  2020    6  39269090  119945.76  1128863.18   9.411447
23  2020    5  39269090  115726.21  1053122.42   9.100120
24  2020    7  39269090  132120.27  1196951.91   9.059563
25  2020    4  39269090   66866.71   602668.04   9.012976
26  2020    9  39269090  137265.67  1205376.79   8.781342
27  2020   11  39269090  140519.36  1232254.88   8.769289
28  2020    3  39269090  137762.25  1037779.85   7.533122
29  2020    2  39269090  131567.03   979564.83   7.445367

In [183]:
# Los más caros del Top 10 en cada mes

table_2 = pd.pivot_table(info_top_10, values = ['USD/KG'], index = ['Año','Mes'],
                         aggfunc = {'USD/KG': max}).reset_index()

table_2 = pd.merge(table_2, info_top_10, how='inner', on='USD/KG', indicator=False)
table_2.drop(['Año_y','Mes_y'], axis=1)

    Año_x  Mes_x     USD/KG       NCM   Pnet(kg)    FOB(u$s)
0    2020      1  34.025195  38220090   36823.66  1252932.20
1    2020      2  43.226486  38220090   22504.94   972809.47
2    2020      3  41.095223  38220090   24245.09   996357.37
3    2020      4  29.416468  38220090   33521.96   986097.66
4    2020      5  31.149996  38220090   29418.25   916378.36
5    2020      6  36.632827  38220090   30824.67  1129194.80
6    2020      7  34.570981  38220090   13850.71   478832.63
7    2020      8  30.100169  30049099  285720.59  8600237.91
8    2020      9  40.256107  38220090   22388.12   901258.56
9    2020     10  30.316459  38220090   30238.36   916720.00
10   2020     11  33.140157  30049099  161124.08  5339677.36

In [17]:
# Una manera para borrar los datos confidenciales, también se puede tratar como string toda la serie

def corrige(x):
  for i in x:
    if i == ' s':
      return int(x.replace('s',''))

In [18]:
corrige(df['Pnet(kg)'])
df.head(10)

    Año  Mes  ...  Pnet(kg)                                           FOB(u$s)
0  2020    1  ...       NaN  s2                                            ...
1  2020    1  ...       NaN  s2                                            ...
2  2020    1  ...       NaN  s2                                            ...
3  2020    1  ...    3250.0                                              35580
4  2020    1  ...       NaN  s2                                            ...
5  2020    1  ...   52450.0                                            1064400
6  2020    1  ...       NaN  s3                                            ...
7  2020    1  ...       NaN  s2                                            ...
8  2020    1  ...       NaN  s4                                            ...
9  2020    1  ...       NaN  s4                                            ...

[10 rows x 6 columns]

In [19]:
# Ahora borro las filas con "NaN" (equivalente al 'Null' de SQL)

sin_confidenciales = df.dropna(axis = 0, subset = ['Pnet(kg)'], how='any') # "axis = 0" marca que trabaje sobre columnas
sin_confidenciales.sort_values(by = ['Año', 'Mes', 'NCM', 'Pdes'], ascending = True, inplace = True)
# sin_confidenciales.groupby(['Año', 'Mes', 'NCM', 'Pdes']).agg({'Pnet(kg)':'sum', 'FOB(u$s)':'sum'})
sin_confidenciales

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         Año  Mes       NCM  Pdes      Pnet(kg)     FOB(u$s)
3       2020    1   1012100   999  3.250000e+03        35580
5       2020    1   1012900   212  5.245000e+04      1064400
14      2020    1   1012900   999  4.416000e+04       621350
42      2020    1   2012090   341  2.511300e+03      29316.6
44      2020    1   2012090   999  9.296800e+02      10154.3
...      ...  ...       ...   ...           ...          ...
143706  2020   11  99980500   426  2.080000e+02       1102.4
143709  2020   11  99980500   438  7.806000e+01      2182.12
143710  2020   11  99980500   451  5.133400e+02      1134.25
143712  2020   11  99980500   999  9.604210e+03      32634.7
143713  2020   11  99999999   999  2.801305e+08  3.41208e+08

[34635 rows x 6 columns]

In [20]:
# Guardo este dataset y también la tabla anterior, juntos, en un nuevo Excel con "ExcelWriter"
# En donde dice '(...)' pueden poner la ruta de su drive que deseen (con la extensión ".xlsx" al final)...
# y al ejectutar la celda se creará un Excel en la misma con los dos dataframes como hojas

writer = pd.ExcelWriter('/content/drive/MyDrive/(...).xlsx')
sin_confidenciales.to_excel(writer, sheet_name = 'Sin confidenciales', index = False, freeze_panes = (1,2))
table.to_excel(writer, sheet_name = 'Top 10 NCMs ', index_label = True, freeze_panes = (3,2))
writer.save()